<script setup>
import { store } from '@/stores/'
import { mapActions } from 'pinia'

import IconBase from '@components/IconBase.vue'
import IconHearth from '@components/icons/IconHearth.vue'
</script>

<template>
  <section
    :style="{ backgroundColor: backgroundColor }"
    class="counter__container"
    :class="[theme, position]"
  >
    <div class="container">
      <div class="icon">
        <icon-base height="23" width="23" viewBox="0 0 52 52"
          ><icon-hearth
        /></icon-base>
      </div>
      <div class="inner_container">
        <div class="action_buttons">
          <button @click="increase(id, 1)">+1</button>
          <button @click="increase(id, 5)">+5</button>
        </div>
        <div>
          <input :value="count" />
        </div>
        <div class="action_buttons">
          <button @click="increase(id, -1)">-1</button>
          <button @click="increase(id, -5)">-5</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
    },
    count: {
      type: Number,
    },
    theme: {
      type: String,
      default: '',
    },
    backgroundColor: {
      type: String,
      default: '#ffffff',
    },
    position: {
      type: String,
    },
  },
  components: {
    IconHearth,
  },
  methods: {
    ...mapActions(store, ['increase']),
  },
}
</script>

<style scoped lang="scss">
section {
  height: 100%;

  .container {
    padding: 1em 0;
  }
}
.inverted {
  transform: scale(-1);
}
.icon {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}
.inner_container {
  font-size: 30px;
  display: flex;
  justify-content: center;

  .action_buttons {
    display: flex;
    flex-direction: column;

    button {
      font-size: 0.9em;
    }
  }

  input {
    font-size: 2em;
    width: 1.7em;
    text-align: center;
  }
}
</style>
