<template>
  <section class="overlay">
  </section>
</template>

<style scoped>
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
}
</style>

