<script setup>
import { store } from '@/stores/'
import { mapState, mapActions } from 'pinia'

import IconBase from '@components/IconBase.vue'
import IconHearth from '@components/icons/IconHearth.vue'
import IconClose from '@components/icons/IconClose.vue'
import IconGears from '@components/icons/IconGears.vue'
import Overlay from '@components/Overlay.vue'
</script>

<template>
  <div v-if="!openSettingsMenu" class="closed_setting_menu">
    <icon-base
      @click="toggleSettingsMenu"
      height="23"
      width="23"
      viewBox="0 0 24 24"
      ><icon-gears
    /></icon-base>
  </div>

  <Transition>
    <section v-if="openSettingsMenu" class="settings">
      <Overlay @click="toggleSettingsMenu" />
      <section class="menu">
        <div class="menu__buttons">
          <icon-base
            @click="toggleSettingsMenu"
            height="23"
            width="23"
            viewBox="0 0 24 24"
            ><icon-close
          /></icon-base>
        </div>
        <div>
          Espejar:
          <input
            ref="mirrored"
            type="checkbox"
            id="mirrored"
            :checked="mirrored"
          />
          Columnas:
          <input ref="columns" type="Number" :value="columns" />
          Cantidad:
          <input ref="size" type="Number" :value="size" />
        </div>
        <button @click="save">Guardar</button>
        <button @click="toggleSettingsMenu">Cancelar</button>
      </section>
    </section>
  </Transition>
</template>

<script>
export default {
  computed: {
    ...mapState(store, ['mirrored', 'openSettingsMenu', 'columns', 'size']),
  },
  methods: {
    ...mapActions(store, ['toggleSettingsMenu', 'saveSettings']),
    save() {
      this.saveSettings({
        mirrored: this.$refs['mirrored'].checked,
        columns: this.$refs['columns'].value,
        size: this.$refs['size'].value,
      })
      this.toggleSettingsMenu()
    },
  },
}
</script>

<style scoped lang="scss">
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.closed_setting_menu {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  z-index: 1;
}
.menu {
  position: absolute;
  background-color: black;
  right: 0;
  bottom: 0;
  width: 400px;
  color: white;
  padding: 1em;
  z-index: 1;

  .menu__buttons {
    text-align: right;
  }
}
</style>
