<script setup>
import { store } from '@/stores/'
import { mapState } from 'pinia'

import Counter from '@components/Counter.vue'
import Settings from '@components/Settings.vue'
</script>

<template>
  <section
    class="grid_container"
    :style="{ gridTemplateColumns: `repeat(${columns}, auto)` }"
  >
    <Counter
      v-for="(counter, index) in counters"
      v-show="index < size"
      :key="counter"
      :id="index"
      :count="counter.count"
      :backgroundColor="counter.backgroundColor"
      :position="mirroredClass(index)"
    />
  </section>
  <Settings />
</template>

<script>
export default {
  components: { Counter, Settings },
  computed: {
    ...mapState(store, ['size', 'counters', 'columns', 'mirrored']),
  },
  methods: {
    mirroredClass(index) {
      return this.mirrored && index < this.size / 2 ? 'inverted' : ''
    },
  },
}
</script>

<style>
html,
body {
  height: 100%;
  margin: 0;
}
#app {
  height: 100%;
  background: yellow;
}
.grid_container {
  display: grid;
  height: 100%;
}
</style>
